.g-custom{
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}

body {
  background: #0B0547;
  font-family: "Nunito";
  color: white;
}

.gradient {
  position: absolute;
  width: 315px;
  height: 326.24px;
  right: 600px;
  top: 800px;
  background: #FF8A00;
  opacity: 0.45;
  filter: blur(170px);
  transform: rotate(-80.43deg);
}

.rocket {
  position: absolute;
  right: 800px;
  top: 950px;
}

/* Header */
.logo {
  margin-left: 20px;
}

.header-video {
  object-fit: cover;
}

.header-name {
  font-family: "Montserrat";
  padding-left: 15px;
  margin: 30px 0 30px 0;
}

.header-text {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
}

.header-text > span {
  font-size: 50px;
  font-weight: normal;
  position: absolute;
}

.line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  opacity: 100;
  border: solid 2px white;
}

.section-head {
  margin: 50px 0 30px 25px;
  font-weight: bold;
  font-size: 30px;
}

/* Picture Of The Day */
#potd-picture {
  border: 1px white solid;
  box-shadow: 20px 20px 30px #020202;
  margin-right: 50px;
  margin-bottom: 20px;
}

.potd-text {
  font-family: 'EB Garamond', serif;
}

.potd-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.potd-description {
  font-style: italic;
  text-align: justify;
  font-size: 18px;
}

.potd-date {
  font-size: 20px;
  margin-top: 50px;
  text-align: end;
}

/* Accordéon */
.accordion {
  margin-bottom: 100px;
  padding: 0;
  border: solid 1px white;
  box-shadow: 5px 5px 20px black;
}

.accordion-body, .accordion-item, .accordion-button, .accordion-button:not(.collapsed) {
  color: #ffd000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  font-family: 'Nunito';
  font-size: 18px;
}

.accordion-body {
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
  font-style: italic;
}

.accordion-line {
  margin-bottom: 40px;
  width: 200px;
  opacity: 100;
  border: 1px solid white;
}

.accordion-button:not(.collapsed) {
  border-bottom: 1px solid black;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Personne */
.person-number {
  font-size: 170px;
}

.person-text {
  font-size: 32px;
}